
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="~/Content/css/business-casual.css" rel="stylesheet">
</head>

<body>

    @Html.Partial("_Header")

    <div class="container">

       @RenderBody()

    </div>
    <!-- /.container -->

   @Html.Partial("_Footer")

    <!-- JavaScript -->
    <script src="~/Scripts/js/jquery-1.10.2.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script>
    // Activates the Carousel
    $('.carousel').carousel({
        interval: 5000
    })
    </script>

</body>

</html>
